<!-- About Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                      <li>
                        <div class="timeline-image">
                          <img class="img-circle img-responsive" src="img/education/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4>2009.03-2012.02</h4>
                            <h4 class="subheading">동남고등학교</h4>
                          </div>
                          <div class="timeline-body">
                            <p class="text-muted">경기도 포천시 소흘읍 소재 동남고등학교 졸업</p>
                          </div>
                        </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/education/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012.03-2016.02</h4>
                                    <h4 class="subheading">대진대학교</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">대진대학교 컴퓨터공학과 학사 졸업</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/education/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019.08-2020.02</h4>
                                    <h4 class="subheading">KH 정보교육원</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">[NCS] 디지털 컨버전스 융합 응용 SW 개발자 양성과정</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>There is
                                    <br>no end
                                    <br>in learning!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
