 <!-- Resume Modals -->
<div class="portfolio-modal modal fade" id="resume_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div id="cv" class="instaFade">
		<div class="mainDetails">
			<div id="headshot" class="quickFade">
				<img src="img/team/1.jpg" alt="Alan Smith" />
			</div>

			<div id="name">
				<h1 class="quickFade delayTwo">SOHEE LEE</h1>
				<h2 class="quickFade delayThree">Web Developer</h2>
			</div>

			<div id="contactDetails" class="quickFade delayFour">
				<ul>
					<li class="right"><a href="mailto:715sohappy@gmail.com"
						target="_blank">715sohappy@gmail.com</a></li>
					<li class="right"><a href="https://github.com/JoyRapture">github.com/JoyRapture</a></li>
					<li class="right">010-4715-5509</li>
					<li class="right"><a href="resume-Sohee Lee.pdf" download="resume_Sohee Lee.pdf">download <i class="fa fa-document fa-stack-1x fa-inverse"></i></a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div id="mainArea" class="quickFade delayFive">
			<section class="section_resume">
				<article>
					<div class="sectionTitle">
						<h1>Personal Profile</h1>
					</div>

					<div class="sectionContent">
						<ul class="responsive-table">
							<li class="table-row">
								<div class="col col-3 headerInDiv">성명</div>
								<div class="col col-7">한글 ) 이소희</div>
								<div class="col col-7">영문 ) Sohee Lee</div>
							</li>
							<li class="table-row">
								<div class="col col-3 headerInDiv">생년월일</div>
								<div class="col col-4">1993.07.15</div>
								<div class="col col-3 headerInDiv">성별</div>
								<div class="col col-4">여</div>
							</li>
							<li class="table-row">
								<div class="col col-3 headerInDiv">주소</div>
								<div class="col col-11">경기도 포천시 소흘읍 봉솔로9 102-1005</div>
							</li>
						</ul>
					</div>
				</article>
				<div class="clear"></div>
			</section>
			<section class="section_resume">
				<article>
					<div class="sectionTitle">
						<h1>Education</h1>
					</div>

					<div class="sectionContent">
						<ul class="responsive-table">
							<li class="table-header">
								<div class="col col-3">입학년월</div>
								<div class="col col-3">졸업년월</div>
								<div class="col col-9">출신 학교 및 전공</div>
								<div class="col col-3">구분</div>
							</li>
							<li class="table-row">
								<div class="col col-3">2012.03</div>
								<div class="col col-3">2016.02</div>
								<div class="col col-9">대진대학교 컴퓨터공학과</div>
								<div class="col col-3">학사 졸업</div>
							</li>
							<li class="table-row">
								<div class="col col-3">2009.03</div>
								<div class="col col-3">2012.02</div>
								<div class="col col-9">동남고등학교</div>
								<div class="col col-3">졸업</div>
							</li>
						</ul>
					</div>
				</article>
				<div class="clear"></div>
			</section>
			<section class="section_resume">
				<article>
					<div class="sectionTitle">
						<h1>Certificate / License</h1>
					</div>

					<div class="sectionContent">
						<ul class="responsive-table">
							<li class="table-header">
								<div class="col col-5">자격면허</div>
								<div class="col col-5">취득년월</div>
								<div class="col col-7">발행처</div>
							</li>
							<li class="table-row">
								<div class="col col-5">정보처리기사</div>
								<div class="col col-5">2015.10</div>
								<div class="col col-7">한국산업인력공단</div>
							</li>
							<li class="table-row">
								<div class="col col-5">운전면허 (1종 보통)</div>
								<div class="col col-5">2013.01</div>
								<div class="col col-7">경기지방경찰청</div>
							</li>
						</ul>
					</div>
				</article>
				<div class="clear"></div>
			</section>
			<section class="section_resume">
				<article>
					<div class="sectionTitle">
						<h1>Language</h1>
					</div>

					<div class="sectionContent">
						<ul class="responsive-table">
							<li class="table-header">
								<div class="col col-3">자격면허</div>
								<div class="col col-5">성적</div>
								<div class="col col-5">취득년월</div>
								<div class="col col-1">발행처</div>
							</li>
							<li class="table-row">
								<div class="col col-3">TOEIC Speaking</div>
								<div class="col col-6">
									Speaking Score 140,<br>Level 6
								</div>
								<div class="col col-5">2019.11</div>
								<div class="col col-1">YBM</div>
							</li>
						</ul>
					</div>
				</article>
				<div class="clear"></div>
			</section>

			<section class="section_resume">
				<div class="sectionTitle">
					<h1>Extracurricular Experience</h1>
				</div>
				<article>
					<div class="sectionContent">
						<ul class="responsive-table">
							<li class="table-header">
								<div class="col col-10">소속명</div>
								<div class="col col-4">활동기간</div>
								<div class="col col-5">활동내용</div>
								<div class="col col-2">직급</div>
							</li>
							<li class="table-row">
								<div class="col col-10">
									대진대학교 컴퓨터공학과<br>학생회
								</div>
								<div class="col col-4">2012.03 ~ 2014.06</div>
								<div class="col col-5">학과 행사 기획 및 운영</div>
								<div class="col col-2">총무</div>
							</li>
							<li class="table-row">
								<div class="col col-10">
									대진대학교 컴퓨터공학과<br>데이터베이스응용시스템 실험실
								</div>
								<div class="col col-4">2012.04 ~ 2016.06</div>
								<div class="col col-5">전공 관련 프로젝트 및 세미나</div>
								<div class="col col-2">연구원</div>
							</li>
							<li class="table-row">
								<div class="col col-10">대진대학교 대진멘토링</div>
								<div class="col col-4">2015.03 ~ 2015.06</div>
								<div class="col col-5">JAVA 스터디</div>
								<div class="col col-2">멘토</div>
							</li>
						</ul>
					</div>
				</article>
				<div class="clear"></div>
			</section>
			<section class="section_resume part2">
			<h2>직무능력소개서 </h2>
      <p>1</p>
      {% for cv_post in site.cv_post %}
      <p>1</p>
        <button class="accordion">{{cv_post.title}}</button>
        <div class="panel">
          <p>{{cv_post.content}}</p>
        </div>
      {% endfor %}
			</section>
		</div>
	</div>
 </div>
